@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Open+Sans:wght@400&family=Raleway&display=swap');


*{
    
  
    box-sizing: border-box;
    
}

h1{
    font-family: cursive, sans-serif;
    font-size: 48px;
    text-align: center;
    margin: 20px 0;
    color: rgb(219, 200, 112) ;
}

h2{ 
    font-family: 'Corinthia', cursive;
    font-size: 40px;
    color: rgba(2, 1, 19, 0.863);
}



body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    background-color: rgba(2, 17, 1, 0.966);
}


.site-title{
    font-family: cursive, sans-serif;
}

.recipes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 22px solid rgba(97, 26, 3, 0.904);
    border-radius: 5px;
    background-color: rgba(211, 82, 8, 0.952);    
    height: auto;
    width: 90%;
    padding: 40px;
    padding-top: 60px;
    box-shadow: rgba(122, 2, 2, 0.15) 0px 3px 3px 0px;
}

.recipe{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 300px;

    margin: 15px 20px;

    background-color: rgb(233, 233, 233);
    border-top:0px;
    padding: 50px 25px 0;
    border: 0;
    border-radius: 0;

    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;



} 
a {
    text-decoration: none;
}

.recipe i {

    display: none;

}
.recipe img{
    width: 100%;
    height: auto;
    border: rgba(34, 1, 1, 0.185) 2px solid;
   
}

.img-cont, .desc-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.img-cont a{
    text-decoration: none;
    color: black;
}


.desc-cont {
    width:85%;
 
    
}

.desc-cont p {
    text-align: left;
    color: rgb(26, 19, 19);
    font-size: 16px;
}




